* {
    box-sizing: border-box;
}

body {
    font-family: Montserrat, Arial, sans-serif;
}

a {
    color: #4a4a4a;
    transitiong: color ease 0.3s, border ease 0.3s, background ease 0.3s;
}

.flex{
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: flex;
    align-items:center;
    -webkit-align-items:center;
    justify-content: space-around;
    -webkit-justify-content:space-around;
}

.full-bg {
    background-image: url('../img/bg.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #353a47;
}

.text-shadow{
    text-shadow: 2px 2px 7px rgba(0,0,0,0.4);
}

/*some effect*/
/*边框发光*/
@-webkit-keyframes  shineWhite {
    from {box-shadow: 0 0 15px #dfdfdf; }
    50% {box-shadow: 0 0 30px #fff; }
    to {box-shadow: 0 0 15px #dfdfdf; }
}
.shine-white{
    -webkit-animation-name: shineWhite;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

.rain-box {
    height: 0;
    width: 0;
    overflow: hidden;
}

#rainCanvas {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
    left: 0;
    background-size: cover;
}

.header {
    height: 60px;
    position: fixed;
    z-index: 3;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.05);
}

.header .header-left, .header .header-right {
    padding: 0 5.57%;
}

.header-left a {
    color: #fff;
    text-decoration: none;
}

.header-right .menu-button {
    color: #fff;
    font-size: 30px;
    display: table-cell;
    vertical-align: middle;
    height: 60px;
    cursor: pointer;
}

.container {

}

.container .indroduce {
    position: absolute;
    text-align: center;
    padding-top: 60px;
    flex-direction: column;
    -webkit-flex-direction:column;
    height: 100%;
    min-height: 430px;
    width:50%;
    color:#fff;
    font-size:200%;
}

.container .indroduce .date{
    font-size: 50%;
    opacity: 0.4;
}
.natee .pure-button-primary{
    border-radius: 4px;
    font-size: 60%;
    padding: 0.5em 1.5em;
    background: rgba(0,0,0,0.1);
}

.container .contact{
    color:#666;
}
.container .contact .inner{
    width:100%;
    padding:20px;
}
.container .contact ul{
    padding:0;
}
.container .contact li{
    list-style: none;
    width: 100%;
    border-bottom: 1px solid #555555;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.container .main {
    background-color: #fff;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 50%;
    overflow: auto;
    padding-top: 30px;
}

.natee .skill {
    padding: 1em;
}

.natee .skill .head, .natee .contact .head {
    margin: 2em 0 1em;
}

.natee .skill .skill-item {
    padding: 1em;
}

.natee .skill .skill-item .img {
    width: 80px;
    height: 80px;
    float: left;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2), 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 1em 0.5em 0;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.natee .skill .skill-item .img:before {
    background: rgba(247, 98, 98, 0.8);
    box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.2);
    content: "";
    height: 40px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: -5px;
    transform: skewX(-45deg);
    -webkit-transform: skewX(-45deg);
    width: 25px;
}

.natee .skill .skill-item .img img {
    height: 100%;
    /*width: 100%;*/
    border-radius: 4px;
}

.natee .skill .skill-item h3 {
    color: #1f8dd6;
    margin: 0 0 0.5em;
}

.natee .skill .skill-item p {
    font-size: 14px;
    line-height: 1.4em;
    margin-top: 0;
}

.natee .experence {
    background: #2d3e50;
    color: #aaa;
    padding: 2em;
}

.natee .experence .head {
    color: #fff;
}

.natee .experence .content {
    margin-bottom: 3em;
}

.natee .experence .list {
    margin-bottom: 10px;
}

.natee .experence .list-content {
    margin-left: 0.4em;
}

.natee .experence .list ul li {
    line-height: 1.5em;
}

.contact {
    position: fixed;
    z-index: 1;
    font-size: 18px;
    line-height: 48px;
    top: 0px;
    bottom: 0;
    left: 0;
    width: 50%;
    opacity: 0;
    background-color: black;
    color: #ffffff;
    text-align: center;
    overflow: auto;
    -webkit-transform-origin: 100% 50% 0;
    -moz-transform-origin: 100% 50% 0;
    -ms-transform-origin: 100% 50% 0;
    -o-transform-origin: 100% 50% 0;
    transform-origin: 100% 50% 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: perspective(1600px) rotateY(-90deg) rotateX(0deg);
    -moz-transform: perspective(1600px) rotateY(-90deg) rotateX(0deg);
    -ms-transform: perspective(1600px) rotateY(-90deg) rotateX(0deg);
    -o-transform: perspective(1600px) rotateY(-90deg) rotateX(0deg);
    transform: perspective(1600px) rotateY(-90deg) rotateX(0deg);
    -webkit-transition: all 0.381s ease-out;
    -moz-transition: all 0.381s ease-out;
    -o-transition: all 0.381s ease-out;
    transition: all 0.381s ease-out;
}

.contact.active {
    opacity: 1;
    -webkit-transform: perspective(1600px) rotateY(0deg) rotateX(0deg);
    -moz-transform: perspective(1600px) rotateY(0deg) rotateX(0deg);
    -ms-transform: perspective(1600px) rotateY(0deg) rotateX(0deg);
    -o-transform: perspective(1600px) rotateY(0deg) rotateX(0deg);
    transform: perspective(1600px) rotateY(0deg) rotateX(0deg);
}

.contat:before {
    /* dark top stripe, goes under logo */
    content: "";
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: rgba(0, 0, 0, 0.92);
    color: #ffffff;
    padding: 0 11.4%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.footer {
    height: 60px;
    position: absolute;
    z-index: 3;
    bottom: 0;
    left:0;
    right:0;
    background-color: rgba(0, 0, 0, 0.05);
}
.footer ul{
    float: left;
    margin: 0;
    height: 60px;
}
.footer li{
    float: left;
    line-height: 60px;
    margin-right:10px;
}
.footer li a{
    color:#fff;
    font-size:12px;
}