* {
  box-sizing: border-box;
}

[v-cloak] {
  display: none
}

a {
  color: #4a4a4a;
}

.hide {
  display: none;
}

.c9 {
  color: #999;
}

.cf {
  color: #fff;
}

.ft12 {
  font-size: 12px;
}

.bg-green {
  background-color: #4b8681;
}

.bg-green-2 {
  background-color: #205066;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.text-shadow {
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);
}

/*some effect*/

/*显示玻璃光效*/

.blind-effect {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.blind-effect:before {
  background: rgba(255, 255, 255, 0.1);
  content: "";
  height: 100%;
  left: -430px;
  left: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform: skewX(-45deg);
  transform: skewX(-45deg);
  width: 200px;
}

@keyframes blindEffect {
  0% {
    left: -430px;
  }
  100% {
    left: 100%;
  }
}

.blind-effect:before {
  animation: 2s ease-out 0s normal forwards infinite blindEffect;
}

.rain-canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 0;
  top: 0;
  background-size: cover;
}

.header {
  height: 60px;
  position: fixed;
  z-index: 3;
  width: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.05);
}

.header .header-left, .header .header-right {
  padding: 0 40px;
}

.header-left a {
  color: #fff;
  text-decoration: none;
}

.header-right .menu-button {
  color: #ccc;
  font-size: 30px;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
}

.container .introduce {
  text-align: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  color: #fff;
  /* font-size: 200%; */
  overflow-x: hidden;
  overflow-y: auto;
}

.container .basic-box .head {
  font-size: 38px;
}

.container .basic-box .intro {
  font-size: 32px;
}

.container .introduce .date {
  font-size: 16px;
  opacity: 0.4;
}

.natee .pure-button-primary {
  border-radius: 4px;
  font-size: 20px;
  padding: 0.5em 1.5em;
  margin: 1em 0;
  background: rgba(0, 0, 0, 0.1);
  position: relative;
}

/*
 * 用box-shadow动画发现会卡顿，但之前是好的，单独写case也是好的
 * 改用opacity做动画，防止浏览器重绘
 * 参考 https://juejin.im/entry/5abb6e426fb9a028d1412717
 */

.natee .pure-button-primary::after {
  content: '';
  position: absolute;
  /* z-index: -1; */
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: inherit;
  box-shadow: 0 0 30px #dfdfdf;
  will-change: opacity;
  opacity: 0;
  animation: fadeIn 1s infinite linear alternate-reverse;
}

@keyframes fadeIn {
  form {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container .contact {
  color: #fff;
  overflow: hidden;
}

.container .contact .inner {
  width: 100%;
  padding: 20px;
}

.container .contact ul {
  padding: 0;
}

.container .contact li {
  list-style: none;
  width: 100%;
  border-bottom: 1px solid #555555;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.container .main {
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
}

.natee .link {
  color: rgba(255, 255, 255, 0.8);
}

.natee .link:hover {
  color: rgba(255, 255, 255, 1);
}

.natee .skill {
  padding: 1em;
}

.natee .skill .head, .natee .contact .head {
  margin: 1em 0;
}

.natee .skill .skill-item {
  padding: 1em;
}

.natee .skill .skill-item .img {
  width: 80px;
  height: 80px;
  float: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2), 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 1em 0.5em 0;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.natee .skill .skill-item .img:before {
  background: rgba(247, 98, 98, 0.8);
  box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.2);
  content: "";
  height: 40px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: -5px;
  transform: skewX(-45deg);
  width: 25px;
}

.natee .skill .skill-item .img img {
  height: 100%;
  border-radius: 4px;
}

.natee .skill .skill-item h3 {
  color: #1f8dd6;
  margin: 0 0 0.5em;
}

.natee .skill .skill-item p, .natee .experence p {
  font-size: 14px;
  line-height: 1.4em;
  margin: 0;
}

.natee .experence {
  background: #2d3e50;
  color: rgba(255, 255, 255, 0.6);
  padding: 2em 2em 3em;
}

.natee .experence .p-list, .natee .experence .list-content {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.natee .experence .p-list {
  width: 100%;
}

.natee .experence .p-list>li {
  padding: 1.5em 0;
  border-bottom: 1px solid #192b3e;
  border-top: 1px solid #425569;
}

.natee .experence .p-list>li:first-child {
  border-top: none;
}

.natee .experence .p-list>li:last-child {
  border-bottom: none;
}

.natee .experence .list-content li {
  padding: 10px 0;
}

.natee .experence .list-content li:first-child {
  margin-top: 10px;
}

.natee .experence .p-list .p-name {
  margin-bottom: 10px;
  color: #fff;
  font-size: 14px;
}

.natee .experence .p-list .intro {
  padding-left: 1em;
}

.natee .experence .skill-tags {
  margin-top: 10px;
}

.natee .skill-tag {
  background: rgba(255, 255, 255, 0.6);
  color: #2D3E50;
  display: inline-block;
  position: relative;
  padding: 0 4px;
  margin-right: 4px;
}

.natee .skill-tag:before {
  content: '';
  position: absolute;
  border: rgba(255, 255, 255, 0.6) solid 1px;
  bottom: -2px;
  left: -2px;
  top: -2px;
  right: -2px;
}

.contact {
  position: fixed;
  z-index: 1;
  font-size: 18px;
  line-height: 48px;
  top: 0px;
  bottom: 0;
  left: 0;
  width: 50%;
  opacity: 0;
  color: #ffffff;
  text-align: center;
  overflow: auto;
  transform-origin: 100% 50% 0;
  transform: perspective(1600px) rotateY(-90deg) rotateX(0deg);
  transition: all 0.381s ease-out;
}

.contact.active {
  opacity: 1;
  transform: perspective(1600px) rotateY(0deg) rotateX(0deg);
}

.contat:before {
  /* dark top stripe, goes under logo */
  content: "";
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: rgba(0, 0, 0, 0.92);
  color: #ffffff;
  padding: 0 11.4%;
}

.footer {
  padding: 18px 40px;
  position: fixed;
  z-index: 3;
  bottom: 0;
  left: 0;
  right: 50%;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.2);
}

.footer .ft-nav {
  float: left;
}

.footer .ft-nav ul {
  margin: 0;
  padding: 0;
}

.footer li {
  float: left;
  margin-right: 10px;
}

.footer .ft-item, .footer a {
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.footer a:hover {
  color: rgba(255, 255, 255, 1);
  transition: color ease 0.3s,
}

.footer .show-nav {
  font-size: 14px;
  position: relative;
  z-index: 3;
  outline: none;
}

.footer .back {
  float: right;
}

@media screen and (min-width: 769px) {
  .container .introduce {
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 50%;
  }
  .container .main {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 50%;
    padding-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .header .header-left {
    text-align: left;
  }
  .header .header-right {
    text-align: right;
  }
  .container .introduce {
    position: absolute;
    bottom: 0;
    top: 0;
  }
  .contact {
    width: 100%;
  }
  .footer {
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .container .main {
    position: absolute;
    top: 100%;
  }
}

/*special effect*/

.font-colorful {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient( to bottom, #9588DD, #9588DD 1.4em, #DD88C8 1.4em, #DD88C8 2.8em, #D3DD88 2.8em, #D3DD88 4.2em, #88B0DD 4.2em, #88B0DD);
}

/* 圆圈弹出式导航 */

@media screen and (max-height: 500px) {
  .footer {
    background: none;
  }
  .ft-nav {
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 2;
    left: 10px;
    bottom: 10px;
  }
  .ft-item {
    background-color: rgba(0, 0, 0, 0.2);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
  }
  .ft-item a {
    text-decoration: none;
  }
  .ft-nav .ft-item {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all linear .2s;
  }
  .ft-nav .ft-item.ft-item--circle {
    opacity: 1;
  }
  .ft-nav .ft-item.first {
    transform: translateY(-58px);
    transition-delay: 0.1s;
  }
  .ft-nav .ft-item.second {
    transform: rotate(45deg) translateY(-60px) rotate(-45deg);
    transition-delay: 0.2s;
  }
  .ft-nav .ft-item.third {
    transform: translateX(58px);
    transition-delay: 0.3s;
  }
  .footer .ft-nav .show-nav {
    display: block;
    z-index: 2;
    opacity: 1;
  }
  .footer .ft-nav .show-nav:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: all ease 0.3s,
  }
  .footer .back {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  .footer .back span {
    display: none;
  }
}